<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>280617579893-np1dllm7e3e2qbvb25bg0hftgtti6t36.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.280617579893-np1dllm7e3e2qbvb25bg0hftgtti6t36</string>
	<key>API_KEY</key>
	<string>AIzaSyD3MgUKK7-b9l3J3EymdOlYWZNob9H-l6M</string>
	<key>GCM_SENDER_ID</key>
	<string>280617579893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.radoslavpopov.NetWorthPerformance</string>
	<key>PROJECT_ID</key>
	<string>net-worth-performance</string>
	<key>STORAGE_BUCKET</key>
	<string>net-worth-performance.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280617579893:ios:9f64efe5ae2c790c4f0f3c</string>
	<key>DATABASE_URL</key>
	<string>https://net-worth-performance.firebaseio.com</string>
</dict>
</plist>